<div class="plb-color-palette">
    {% for color in colors %}
        <div class="plb-color-palette-item">
            <div class="plb-color-palette-item__color" style="background-color: {{- color.color -}};"></div>
            <div>{{- color.name | default(color.color) -}}</div>
            <div class="plb-color-palette-item__hex">{{- color.color -}}</div>
        </div>
    {% endfor %}
</div>
