{% embed '@Lin3sPatternLibraryBuilder/layouts/finder.html.twig' with {
    finder_id: 'iconography-finder',
    finder_placeholder: 'type to filter by name...',
    finder_label_title: 'Search your icon'
} %}
    {% block finder_subjects %}
        <p class="plb-finder__tip"><strong>Click</strong> on any icon cell <strong>to copy</strong> it's name <strong>to the clipboard!</strong></p>
        <ul class="plb-icons">
            {% for icon in icons %}
                {% set icon_name = icon.name|replace({'_': ' '}) %}
                <li class="plb-icons__icon plb-finder__subject js-clipboard" data-finder="{{ icon_name }}" data-clipboard-action="copy" data-clipboard-text="{{ icon.name }}">
                    {% include icon.twig_namespace ~ '/' ~ icon.name ~ '.svg.twig' %}
                    <span class="plb-icons__icon-name">{{ icon_name }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
{% endembed %}
