{% set modifier = modifier is not empty ? ' accordion--' ~ modifier : null %}

<div class="accordion js-accordion{{ modifier }}">
    <nav class="accordion__nav">
        <ul class="accordion__list">
            {% for item in items %}
                {% set item_modifiers = ' ' %}
                {% for item_modifier in item.modifiers %}
                    {% set item_modifiers = item_modifiers ~ ' accordion-item--' ~ item_modifier %}
                {% endfor %}

                {% include '@lin3s_pattern_library_builder/components/accordion_item.html.twig' with {
                    tag: 'li',
                    modifier: item_modifiers,
                    header: item.header,
                    content: item.content,
                    class_name: item.class_name,
                    finder_value: item.finder_value
                } %}
            {% endfor %}
        </ul>
    </nav>
</div>
