<div class="form-group">
    {% include '@lin3s_pattern_library_builder/atoms/form_label.html.twig' with {
        for: id,
        required: required|default,
        class_name: label_class_name|default,
        modifiers: label_modifiers|default,
        title: label_title
    } %}
    {% include '@lin3s_pattern_library_builder/atoms/form_input.html.twig' with {
        type: input_type,
        id: id,
        class_name: input_class_name,
        modifiers: input_modifiers|default,
        placeholder: input_placeholder
    } %}
</div>
