{##
    PROPERTY                REQUIRED
    =================================

    preview_media           required
    preview_params_key      required

#}

<div class="patternlibrary-preview patternlibrary-preview--{{ preview_media }}">
    <div class="patternlibrary-preview__frame">
        {% include '@lin3s_pattern_library_builder/svg/' ~ preview_media ~ '.svg' %}
    </div>
    <iframe class="patternlibrary-preview__iframe" src="?media={{ preview_media }}&id={{ preview_params_key }}"></iframe>
</div>
