<div class="patternlibrary-preview patternlibrary-preview--{{ preview_media }}">
    <div class="patternlibrary-preview__frame">
        {% include '@Lin3sPatternLibraryBuilder/svg/' ~ preview_media ~ '.svg.twig' %}
    </div>
    <iframe class="patternlibrary-preview__iframe" src="?media={{ preview_media }}&id={{ preview_params_key }}"></iframe>
</div>
