{% set modifier = modifier is not empty ? ' tabbed--' ~ modifier : null %}

<div class="tabbed js-tabbed{{ modifier }}">
    <nav class="tabbed__nav">
        <ul class="tabbed__nav-list">
            {% for tab in tabs %}
                <li class="tabbed__nav-item{% if loop.first %} tabbed__nav-item--active{% endif %}">
                    {{- tab.title|raw -}}
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="tabbed__content">
        {% for tab in tabs %}
            <div class="tabbed__tab{% if loop.first %} tabbed__tab--active{% endif %}">
                {% autoescape 'html' %}
                    {{- tab.content|raw -}}
                {% endautoescape %}
            </div>
        {% endfor %}
    </div>
</div>
