{% set modifier = modifier is not empty ? ' plb-tabbed--' ~ modifier : null %}

<div class="plb-tabbed js-plb-tabbed{{ modifier }}">
    <nav class="plb-tabbed__nav">
        <ul class="plb-tabbed__nav-list">
            {% for tab in tabs %}
                <li class="plb-tabbed__nav-item{% if loop.first %} plb-tabbed__nav-item--active{% endif %}">
                    {{- tab.title|raw -}}
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="plb-tabbed__content">
        {% for tab in tabs %}
            <div class="plb-tabbed__tab{% if loop.first %} plb-tabbed__tab--active{% endif %}">
                {% autoescape 'html' %}
                    {{- tab.content|raw -}}
                {% endautoescape %}
            </div>
        {% endfor %}
    </div>
</div>
