<article class="article">
    <p class="article__breadcrumbs">
    {% for breadcrumb in breadcrumbs %}
        {% if not loop.last %}
            {{ breadcrumb }}
            <span class="article__breadcrumbs-separator">/</span>
        {% else %}
    </p>
            <h1 class="article__title">{{ breadcrumb|replace({'-': ' '}) }}</h1>
        {% endif %}
    {% endfor %}

    <div class="article__description">
        {{ item.description|default('')|raw }}
    </div>

    {%- block article_content -%}{%- endblock -%}
</article>
