<article class="plb-article">
    <p class="plb-article__breadcrumbs">
    {% for breadcrumb in breadcrumbs %}
        {% if not loop.last %}
            {{ breadcrumb }}
            <span class="plb-article__breadcrumbs-separator">/</span>
        {% else %}
    </p>
            <h1 class="plb-article__title">{{ breadcrumb|replace({'-': ' '}) }}</h1>
        {% endif %}
    {% endfor %}

    <div class="plb-article__description">
        {{ item.description|default('')|raw }}
    </div>

    {%- block article_content -%}{%- endblock -%}
</article>
