<div class="plb-finder js-plb-finder">
    <div class="plb-finder__header">
        {% include '@Lin3sPatternLibraryBuilder/components/form_group.html.twig' with {
            id: finder_id,
            label_title: finder_label_title,
            input_class_name: 'plb-finder__input',
            input_placeholder: finder_placeholder,
            input_type: 'text'
        } %}
    </div>
    <div class="plb-finder__subjects">
        {% block finder_subjects %}{% endblock %}
    </div>
</div>
