{% embed '@Lin3sPatternLibraryBuilder/layouts/finder.html.twig' with {
    finder_id: 'iconography-finder',
    finder_placeholder: 'type to filter by name...',
    finder_label_title: 'Search your icon'
} %}
    {% block finder_subjects %}
        <p class="finder__tip"><strong>Click</strong> on any icon cell <strong>to copy</strong> it's name <strong>to the clipboard!</strong></p>
        <ul class="icons">
            {% for icon in find_icons() %}
                {% set icon_name = icon|replace({'_': ' '}) %}
                <li class="icons__icon finder__subject js-clipboard" data-finder="{{ icon_name }}" data-clipboard-action="copy" data-clipboard-text="{{ icon }}">
                    {{ icon(icon) }}
                    <span class="icons__icon-name">{{ icon_name }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
{% endembed %}
