<main class="main{{ is_sticky|default(false) ? ' js-sticky' : '' }}">
    <div class="main__aside">
        {%- block aside -%}{%- endblock -%}
    </div>
    <div class="main__article">
        {%- block article -%}{%- endblock -%}
    </div>
</main>
