<main class="plb-main{{ is_sticky|default(false) ? ' js-plb-sticky' : '' }}">
    <div class="plb-main__aside">
        {%- block aside -%}{%- endblock -%}
    </div>
    <div class="plb-main__article">
        {%- block article -%}{%- endblock -%}
    </div>
</main>
