{#
    --------------------------------------------------------------------------------------------
    SECTION COLUMN LAYOUT
    --------------------------------------------------------------------------------------------

    This is the main section column layout.


    PROPERTY                                DEFAULT VALUE                               REQUIRED
    ============================================================================================

    modifiers


    EMBED
    ============================================================================================

    background
    content
#}

{% set content %}
    {% block content %}{% endblock %}
{% endset %}

{% set background %}
    {% block background %}{% endblock %}
{% endset %}

<div class="section__column{{ modifiers_implode('section__column', modifiers) }}">
    {% if background is not empty %}
        <div class="section__column-background">
            {{- background -}}
        </div>
    {% endif %}
    {% if content is not empty %}
        <div class="section__column-content">
            {{- content -}}
        </div>
    {% endif %}
</div>
