{#
    --------------------------------------------------------------------------------------------
    SECTION LAYOUT
    --------------------------------------------------------------------------------------------

    This is the main section layout.


    PROPERTY                                DEFAULT VALUE                               REQUIRED
    ============================================================================================

    class_name
    modifiers


    EMBED
    ============================================================================================

    columns
#}

<section class="section {{ class_name }}{{ modifiers_implode('section', modifiers) }}">
    {%- block columns -%}{% endblock %}
</section>
