{#
    --------------------------------------------------------------------------------------------
    FORM_LABEL ATOM
    --------------------------------------------------------------------------------------------

    This atom will display a form label.


    PROPERTY                                DEFAULT VALUE                               REQUIRED
    ============================================================================================

    class_name
    modifiers
    title                                                                               required
    required                                false
    for                                     null

#}

{% set form_label_modifiers = ' ' %}
{% for modifier in modifiers %}
    {% set form_label_modifiers = form_label_modifiers ~ ' form-label--' ~ modifier %}
{% endfor %}

<label class="form-label{{ form_label_modifiers }} {{ class_name }}" {% if for|default %}for="{{ for }}"{% endif %}>
    {% if required|default(false) %}
        <span class="form-label__required">*</span>
    {% endif %}
    {{ title }}
</label>
