<a class="icon-card" href="{{ href }}" target="{{ target|default('_blank') }}">
    <div class="icon-card__content">
        <div class="icon-card__icon">
            {% include 'svg/icon_plus.svg.twig' %}
        </div>
        <div class="icon-card__title">{{ title }}</div>
    </div>
</a>
