{#
    --------------------------------------------------------------------------------------------
    HERO SLIDER NAV ITEM COMPONENT
    --------------------------------------------------------------------------------------------

    This component is used to represent hero_slider's nav items.


    PROPERTY                                DEFAULT VALUE                               REQUIRED
    ============================================================================================

    label                                                                               required

#}

<span role="presentation" class="hero-slider__nav-item-indicator"></span>
<span class="hero-slider__nav-item-label">{{ label }}</span>
