{#
    --------------------------------------------------------------------------------------------
    SECTION_HEADER COMPONENT
    --------------------------------------------------------------------------------------------

    This component is used to represent each section's header


    PROPERTY                                DEFAULT VALUE                               REQUIRED
    ============================================================================================

    title                                                                               required
#}

<h3 class="section-header">euskaltel <span class="section-header__title">{{ title }}</span></h3>
